*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: black;
    
   /* background-position: center;*/
 }
.banner_wraper
 {
    height: 100vh;
    background-image:linear-gradient(rgba(10,19,50,0.7),rgba(10,19,50,0.7)),url(Images/eventbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    color: white;
    padding: 12px;
   
}

.navbar a{
    color:orangered;
    font-size: 20px;
    text-decoration: none;
    margin-left: 100px;
    transition: 1s;
    cursor: pointer;
}

.navbar a:hover{
    color: white;

}

.slogan h4{
    /*height: 100px;*/
    text-align: center;
    padding-top: 290px;
    color: whitesmoke;
    font-size: 33px;
}

.slogan p{
    /*height: 100px;*/
    text-align: center;
    color: orangered;
    text-shadow: 5px 5px 4px grey;
    font-size: 55px;
}
.header-scrolled{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow:0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}